<head>
    <style>
    body {
        font-family: Verdana, sans-serif;
        font-size: 13px;
    }
    </style>
    </head>
    Hi {First Name},
    <br>
    <br>
    Here are your <b>{ShowName}</b> ticket(s)!
    <br>
    <br>
    ArtSoc meet-up: <b>{Time2}</b>, in front of <b>Abdus Salam Library</b> &#128516; Look out for {Committee}!
    <br>
    <br>
    You can also meet {Committee2} directly outside <b>{Location}</b> at <b>{Time}</b> if it's more convenient for you.
    <br>
    <br>
    Don&#8217t forget to join us <u>at the end of the musical</u> outside the theatre for the <u><b>group photo</b></u> (we'll share it in our <a href="https://chat.whatsapp.com/IoHfDoGPgqo8ffwoK4FcGa">ArtSoc whatsapp group chat&lt;3</a>)
    <br>
    <br>
    Enjoy the show!
    <br>
    <br>
    Regards,
    <br>
    Beth and ArtSoc Committee 24/25!